@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Raleway&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-attachment: fixed;
    color: rgb(50, 50, 50);
    background-image: url('/assets/images/wall-painting.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Raleway, sans-serif;
    color: rgb(50, 50, 50);
    font-weight: 350;
}

p{
    font-family: Hanken-Grotesk, sans-serif;
}
/* header style */

h1, h2{
    color: rgb(50, 50, 50);
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 450;
}

#menu{
    background-color: rgba(255, 255, 255, 0.65);
    height: 60px;
    vertical-align: top;
    margin-bottom: 50px;
    border-radius: 5px;
}

#logo{
    color: rgb(50, 50, 50);
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}

.nav{
    float: right;
    padding:0 10px 0 10px;
    display: inline;
    list-style: none;
    text-align: center;
    height: inherit;
    font-size: small;
    margin-top: 10px;
    border-radius: 5px;
}

.nav:hover{
    background-color: rgba(140, 140, 140, 0.6);
}

.nav:active{
    background-color: rgba(140, 140, 140, 0.6);
}

/* social meadia links */

#socials{
    position:fixed;
    float: left;
    width: 90px;
    background-color:rgba(255, 255, 255, 0.65);
    border-radius: 5px;
    padding:5px;
    margin-top: 90px;
}

#socials h3{
    text-transform: uppercase;
}

#social-icons{
    font-size:200%;
    margin:5px 0 5px;
    text-align: center;
}

/* overview section */

.content{
    background-color: rgba(255, 255, 255, 0.65);
    max-width: 80vw;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    overflow: visible;
    float: right;
}

.content h2{
   text-align: center;
}

/* code from W3schools */
.content::after {
    content: "";
    clear: both;
    display: table;
  }
/* end of W3schools code*/


#civilisation{
    width:300px;
    height:200px;
    float:right;
    border-radius: 5px;
    margin: 5px;
}